<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1 style="font-weight: bold;">E-commerce</h1>
        <h4>Verify email for <b th:text="${email}">email@example.com</b></h4>
        <div>
            <p style="font-weight: bold;font-size: 20px; text-align:center;">Your code:</p>
            
            <div style="text-align:center;">
                <div style="background-color: white; border: 1px solid white; border-radius: 20px; color: black; font-weight:bold;font-size:18px;">
                    <span th:text="${code}">Code</span>
                </div>
                <p>(This Code is valid for 5 minutes)</p>
            </div>
            <br/>
            <p style="font-weight:500;font-size:17px;text-align:center;">If you didn't request this email, there's nothing to worry about, you can safely ignore it</p>
        </main>
</body>
</html>